.home-bg-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .home-prod-row{
    float: left;
    padding: 5px;
    width: 5%;
  }

  .home-prod-img {
    transform: scale(1.4);
  }