.nav-container {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_text {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.nav_master_container {
    position: fixed;
    top: 0;
    z-index: 12;
    width: 50vw;
    left: 25vw;
}

li {
    list-style: none;
}

.nav-logo {
    height: 5vw;
    min-height: 40px;
    position: fixed;
    left: 2vw;
    padding-top: 2vh;
}

.row-style {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 2vh;
}

.nav_text-cart {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    color: black;
    text-decoration: none;
    font-size: 25px;
    float: right;
    padding-top: 1.9vw;
    cursor: pointer;
}