.product-modal-background {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    background-color: rgba(255, 255, 255, 0.5); 
    margin-top: 10vh; 
    z-index: 20;
    overflow-y: auto;
    overflow-X: hidden;
}

.prod-modal-title {
    color: black;
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: clamp(20pt, 5vw, 35pt);
    padding: 8% 2% 2% 2%;
}

.prod-modal-description {
    color: black;
    font-family: sans-serif;
    line-height: 1.6;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(8pt, 3vw, 12pt);
    padding: 2%;
}

.prod-modal-price {
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(18pt, 5vw, 35pt);
    padding: 0% 2% 2% 2%;
}

.prod-modal-product-image {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.prod-modal-product-image-below{
    float: left;
    height: auto;
}

.not-for-sale {
    color: #D8D8D8;
	cursor: not-allowed;
}

.for-sale {
    color: black;
}